<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Google Maps
        </div>
        <div class="card-body ">
          <div id="map" class="map">
            <div class="container">
              <div class="row">
                <div class="col">
                </div>
                <div class="col">
                  <form #myform="ngForm">
                    <div class="mb-3">
                      <label for="titreinput" class="form-label">Titre</label>
                      <input type="text" required name="titre" [(ngModel)]="produit.titre" class="form-control" id="titreinput" placeholder="Titre">
                    </div>
                    <div class="mb-3">
                      <label for="codebar"  class="form-label">code à barre</label>
                      <input type="text" required pattern="[0-9]{12,}" name="barre" [(ngModel)]="produit.codebarre" class="form-control" id="titreinput" placeholder="code à barre">
                    </div>
                    <div class="mb-3">
                      <label for="codebar" class="form-label">prix</label>
                      <input type="number" required min="1" name="p" [(ngModel)]="produit.prix" class="form-control" id="codebar" placeholder="prix en Millimes">
                    </div>
                    <div class="mb-3">
                      <label for="direction" class="form-label">direction</label>
                      <input type="text" required name="d" [(ngModel)]="produit.direction" class="form-control" id="codebar" placeholder="produit simulaires">
                    </div>
                    <div class="mb-3">
                      <label for="Description"  class="form-label">Description</label>
                      <textarea class="form-control" required name="d" [(ngModel)]="produit.description" id="Description" placeholder="Description détaillé"></textarea>
                    </div>
                    <div class="mb-3">
                     <button [disabled]="myform.invalid" (click)="save()" class="btn btn-primary">ajouter</button>
                    </div>
                  
                  
                  
                  </form>
                </div>
                <div class="col">
                </div>
              </div>
            </div>




          </div>
        </div>
        <table class="table table-bordered">
          <thead><tr>
            <th>produit</th>
            <th>description</th>
            <th>prix</th>
            <th>produits simulaires</th>
            <th>Action</th>
          </tr></thead>
          <tbody><tr *ngFor="let pr of produits">
            <td>{{pr.titre}}</td>
            <td>{{pr.description}}</td>
            <td>{{pr.prix}}</td>
            <td>{{pr.direction}}</td>
            <td><button (click)="delete(pr.id)" class="btn btn-danger">supprimer</button></td>
          </tr></tbody>
      
      
      
        </table>
      </div>
 
    </div>
    
  </div>


  
</div>
