<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Profile</h4>
                      <p class="card-category">Complete ton profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                    <input disabled [(ngModel)]="user.grade" name="grade" class="form-control" placeholder="Grade (intouchable)" >
                              </div>
                              <div class="col-md-3">
                                    <input class="form-control" [(ngModel)]="user.login" name="log" placeholder="Login">
                              </div>
                              <div class="col-md-4">
                                    <input class="form-control" placeholder="Login" name="log" [(ngModel)]="user.login" type="email">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <input class="form-control" [(ngModel)]="user.nom" name="nom" placeholder="Nom complet" type="text">
                              </div>
                            
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <input class="form-control" placeholder="Adresse" [(ngModel)]="user.adresse" name="adresse" type="text">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <input class="form-control" placeholder="telephone" [(ngModel)]="user.tel" name="tel" type="text">
                              </div>
                          </div>
                        
                        
                          <button mat-raised-button type="submit" (click)="update()" class="btn btn-danger pull-right">Mettre à jour</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>